[user]
    name       = Jérôme Le Gal
    email      = jerome@joworld.net
    signingkey = 7772A4AF9EAA90BA

[core]
    editor = vim
    pager  = less -R

[commit]
    gpgsign = true

[color]
    branch      = auto
    diff        = auto
    interactive = auto
    status      = auto
    ui          = auto

[diff]
    tool      = vimdiff
    algorithm = patience

[fetch]
    prune = true

[gpg]
    program = gpg2

[help]
    autocorrect = 1

[merge]
    tool = vimdiff

[push]
    default = current

[status]
    showUntrackedFiles = all

[alias]
    amend    = commit --amend
    aliases  = config --get-regexp alias
    co       = checkout
    cb       = checkout -b
    bd       = branch -d
    br       = branch
    ci       = commit -m
    d        = diff
    st       = status
    l        = log --graph --pretty=format:'%C(auto)%h %C(auto)%s%C(auto)%d' --max-count=30
    lb       = log --graph --pretty=format:'%C(auto)%h %C(auto)%s%C(auto)%d' master..HEAD
    lg       = log --graph --oneline --decorate
    lgg      = log --graph --decorate --show-signature
    last     = log -1 HEAD
    sl       = stash list
    uncommit = reset HEAD^
    unstage  = reset --
