[submodule ".config/zplug"]
	path = .config/zplug
	url = https://github.com/zplug/zplug
[submodule ".config/nord-dircolors"]
	path = .config/nord-dircolors
	url = https://github.com/arcticicestudio/nord-dircolors
