[user]
    name = Jérôme Le Gal
    email = jerome@joworld.net
[core]
    editor = vim
    pager = less -R
[merge]
    tool = vimdiff
[alias]
    co = checkout
    cb = checkout -b
    br = branch
    ci = commit
    st = status
    lg = log --graph --oneline --decorate
    lgg = log --graph --decorate
    last = log -1 HEAD
[push]
    default = simple
